---
layout: default
---
{%- assign _members = site.members | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_members -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Members List -->
	{%- for _member in _members -%}
		{%- capture _title -%}
			<a href="{{- _member.url | absolute_url -}}">{{- _member.title -}}</a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			{% if _member.author -%}{{- _member.author }} | {% endif %}
			{{- _member.date | date_to_long_string -}}
		{%- endcapture -%}
		{%- capture _excerpt -%}<p>{{- _member.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
		{%- capture _link -%}<a href="{{- _member.url | absolute_url -}}">read more</a>{%- endcapture -%}
		{%- assign _content = _excerpt | append: _link -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>